<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StudentChooseClass</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ch04.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChooseCourseServlet</servlet-name>
    <servlet-class>ch04.servlet.ChooseCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseCourseServlet</servlet-name>
    <url-pattern>/servlet/ChooseCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCourseServlet</servlet-name>
    <servlet-class>ch04.servlet.ViewCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCourseServlet</servlet-name>
    <url-pattern>/servlet/ViewCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseListServlet</servlet-name>
    <servlet-class>ch04.servlet.CourseList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseListServlet</servlet-name>
    <url-pattern>/servlet/CourseList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>ch04.servlet.AddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/servlet/AddCourse</url-pattern>
  </servlet-mapping>
  <!--  
  <servlet>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <servlet-class>ch04.servlet.DeleteCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <url-pattern>/servlet/DeleteCourse</url-pattern>
  </servlet-mapping>
  -->
  
</web-app>